.input-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; /* Ensure the input container is below popups */
}

.input-field {
    background-color: var(--colorBodyBackground);
    border: none;
    font-size: 1rem;
    color: var(--white);
    padding: 20px 5px;
    width: 100%;
    text-align: right;
    border-radius: 10px;
}

.input-field:focus {
    outline: none;
}

.input-suffix {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: var(--colorPrimary);
    padding: 5px; /* Optional for better click area */
    z-index: 2; /* Ensure the suffix is above the input */
}
